<layout label="Tekst zonder afbeelding">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w640" height="24" width="640" style="font-size: 24px; line-height: 24px;">&nbsp;</td>
			</tr>
			<tr>
				<td class="w640" width="640">
					<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
						<tbody>
							<tr>
								<td class="w30" width="30"></td>
								<td class="w580" width="580">
									<table class="w580" border="0" cellpadding="0" cellspacing="0" width="580">
										<tbody>
											<tr>
												<td class="w580" width="580">
													<p class="article-title" align="left">
														<singleline label="Title"></singleline>
													</p>
													<div class="article-content" align="left">
														<multiline label="Description"></multiline>
													</div>
												</td>
											</tr>
											<tr>
												<td class="w580" height="12" width="580" style="font-size: 12px; line-height: 12px;"></td>
											</tr>
										</tbody>
									</table>
								</td>
								<td class="w30" width="30"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</layout>
<layout label="Tekst zonder afbeelding/titel">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w640" height="24" width="640" style="font-size: 24px; line-height: 24px;">&nbsp;</td>
			</tr>
			<tr>
				<td class="w640" width="640">
					<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
						<tbody>
							<tr>
								<td class="w30" width="30"></td>
								<td class="w580" width="580">
									<table class="w580" border="0" cellpadding="0" cellspacing="0" width="580">
										<tbody>
											<tr>
												<td class="w580" width="580">
													<div class="article-content" align="left">
														<multiline label="Description"></multiline>
													</div>
												</td>
											</tr>
											<tr>
												<td class="w580" height="12" width="580" style="font-size: 12px; line-height: 12px;"></td>
											</tr>
										</tbody>
									</table>
								</td>
								<td class="w30" width="30"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</layout>
<layout label="1 afbeelding volledige breedte + Titel + Tekst">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w640" width="640">
					<img editable="true" src="" label="Image" class="w640" border="0" width="640" />
				</td>
			</tr>
			<tr>
				<td class="w640" height="24" width="640" style="font-size: 24px; line-height: 24px;">&nbsp;</td>
			</tr>
			<tr>
				<td class="w640" width="640">
					<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
						<tbody>
							<tr>
								<td class="w30" width="30"></td>
								<td class="w580" width="580">
									<table class="w580" border="0" cellpadding="0" cellspacing="0" width="580">
										<tbody>
											<tr>
												<td class="w580" width="580">
													<p class="article-title" align="left">
														<singleline label="Title"></singleline>
													</p>
													<div class="article-content" align="left">
														<multiline label="Description"></multiline>
													</div>
												</td>
											</tr>
											<tr>
												<td class="w580" height="12" width="580" style="font-size: 12px; line-height: 12px;"></td>
											</tr>
										</tbody>
									</table>
								</td>
								<td class="w30" width="30"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</layout>

<layout label="1 afbeelding volledige breedte zonder tekst of titel">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w640" width="640">
					<img editable="true" src="" label="Image" class="w640" border="0" width="640" />
				</td>
			</tr>
		</tbody>
	</table>
</layout>
<layout label="1 afbeelding volledige breedte + Tekst">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w640" width="640">
					<img editable="true" src="" label="Image" class="w640" border="0" width="640" />
				</td>
			</tr>
			<tr>
				<td class="w640" height="24" width="640" style="font-size: 24px; line-height: 24px;">&nbsp;</td>
			</tr>
			<tr>
				<td class="w640" width="640">
					<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
						<tbody>
							<tr>
								<td class="w30" width="30"></td>
								<td class="w580" width="580">
									<table class="w580" border="0" cellpadding="0" cellspacing="0" width="580">
										<tbody>
											<tr>
												<td class="w580" width="580">
													<div class="article-content" align="left">
														<multiline label="Description"></multiline>
													</div>
												</td>
											</tr>
											<tr>
												<td class="w580" height="12" width="580" style="font-size: 12px; line-height: 12px;"></td>
											</tr>
										</tbody>
									</table>
								</td>
								<td class="w30" width="30"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</layout>
<layout label="Titel + Tekst + 1 afbeelding volledige breedte">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w640" height="24" width="640" style="font-size: 24px; line-height: 24px;">&nbsp;</td>
			</tr>
			<tr>
				<td class="w640" width="640">
					<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
						<tbody>
							<tr>
								<td class="w30" width="30"></td>
								<td class="w580" width="580">
									<table class="w580" border="0" cellpadding="0" cellspacing="0" width="580">
										<tbody>
											<tr>
												<td class="w580" width="580">
													<p class="article-title" align="left">
														<singleline label="Title"></singleline>
													</p>
													<div class="article-content" align="left">
														<multiline label="Description"></multiline>
													</div>
												</td>
											</tr>
											<tr>
												<td class="w580" height="12" width="580" style="font-size: 12px; line-height: 12px;"></td>
											</tr>
										</tbody>
									</table>
								</td>
								<td class="w30" width="30"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td class="w640" width="640">
					<img editable="true" src="" label="Image" class="w640" border="0" width="640" />
				</td>
			</tr>
		</tbody>
	</table>
</layout>
<layout label="Tekst + 1 afbeelding volledige breedte">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w640" height="24" width="640" style="font-size: 24px; line-height: 24px;">&nbsp;</td>
			</tr>
			<tr>
				<td class="w640" width="640">
					<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
						<tbody>
							<tr>
								<td class="w30" width="30"></td>
								<td class="w580" width="580">
									<table class="w580" border="0" cellpadding="0" cellspacing="0" width="580">
										<tbody>
											<tr>
												<td class="w580" width="580">
													<div class="article-content" align="left">
														<multiline label="Description"></multiline>
													</div>
												</td>
											</tr>
											<tr>
												<td class="w580" height="12" width="580" style="font-size: 12px; line-height: 12px;"></td>
											</tr>
										</tbody>
									</table>
								</td>
								<td class="w30" width="30"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td class="w640" width="640">
					<img editable="true" src="" label="Image" class="w640" border="0" width="640" />
				</td>
			</tr>
		</tbody>
	</table>
</layout>
<layout label="Tekst + 1 afbeelding centraal">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w30" width="30"></td>
				<td class="w580" width="580">
					<table class="w580" border="0" cellpadding="0" cellspacing="0" width="580">
						<tbody>
							<tr>
								<td class="w580" height="24" width="580" style="font-size: 24px; line-height: 24px;">&nbsp;</td>
							</tr>
							<tr>
								<td class="w580" width="580">
									<p class="article-title" align="left">
										<singleline label="Title"></singleline>
									</p>
								</td>
							</tr>
							<tr>
								<td class="w580" width="580"><img editable="true" src="" label="Image" class="w580" border="0" width="580"/></td>
							</tr>
							<tr>
								<td class="w580" height="15" width="580"></td>
							</tr>
							<tr>
								<td class="w580" width="580">
									<div class="article-content" align="left">
										<multiline label="Description"></multiline>
									</div>
								</td>
							</tr>
							<tr>
								<td class="w580" height="12" width="580" style="font-size: 12px; line-height: 12px;"></td>
							</tr>
						</tbody>
					</table>
				</td>
				<td class="w30" width="30"></td>
			</tr>
		</tbody>
	</table>
</layout>
<layout label="Tekst + 1 afbeelding rechts">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w30" width="30"></td>
				<td class="w580" width="580">
					<table class="w580" border="0" cellpadding="0" cellspacing="0" width="580">
						<tbody>
							<tr>
								<td class="w580" height="24" width="580" style="font-size: 24px; line-height: 24px;">&nbsp;</td>
							</tr>
							<tr>
								<td class="w580" width="580">
									<p class="article-title" align="left">
										<singleline label="Title"></singleline>
									</p>
									<table align="right" border="0" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td class="w30" width="15"></td>
												<td><img editable="true" src="" label="Image" class="w300" border="0" width="300"/></td>
											</tr>
											<tr>
												<td class="w30" height="5" width="15"></td>
												<td></td>
											</tr>
										</tbody>
									</table>
									<div class="article-content" align="left">
										<multiline label="Description"></multiline>
									</div>
								</td>
							</tr>
							<tr>
								<td class="w580" height="12" width="580" style="font-size: 12px; line-height: 12px;"></td>
							</tr>
						</tbody>
					</table>
				</td>
				<td class="w30" width="30"></td>
			</tr>
		</tbody>
	</table>
</layout>
<layout label="Tekst + 1 afbeelding links">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w30" width="30"></td>
				<td class="w580" width="580">
					<table class="w580" border="0" cellpadding="0" cellspacing="0" width="580">
						<tbody>
							<tr>
								<td class="w580" height="24" width="580" style="font-size: 24px; line-height: 24px;">&nbsp;</td>
							</tr>
							<tr>
								<td class="w580" width="580">
									<p class="article-title" align="left">
										<singleline label="Title"></singleline>
									</p>
									<table align="left" border="0" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td><img editable="true" src="" label="Image" class="w300" border="0" width="300"/></td>
												<td class="w30" width="15"></td>
											</tr>
											<tr>
												<td></td>
												<td class="w30" height="5" width="15"></td>
											</tr>
										</tbody>
									</table>
									<div class="article-content" align="left">
										<multiline label="Description"></multiline>
									</div>
								</td>
							</tr>
							<tr>
								<td class="w580" height="12" width="580" style="font-size: 12px; line-height: 12px;"></td>
							</tr>
						</tbody>
					</table>
				</td>
				<td class="w30" width="30"></td>
			</tr>
		</tbody>
	</table>
</layout>
<layout label="Tekst, 2 kolommen">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w30" width="30"></td>
				<td class="w580" width="580">
					<table class="w580" border="0" cellpadding="0" cellspacing="0" width="580">
						<tbody>
							<tr>
								<td class="w580" valign="top" width="275">
									<table class="w580" border="0" cellpadding="0" cellspacing="0" width="275">
										<tbody>
											<tr>
												<td class="w580" height="24" width="275" style="font-size: 24px; line-height: 24px;">&nbsp;</td>
											</tr>
											<tr>
												<td class="w580" width="275">
													<p class="article-title" align="left">
														<singleline label="Title"></singleline>
													</p>
													<div class="article-content" align="left">
														<multiline label="Description"></multiline>
													</div>
												</td>
											</tr>
											<tr>
												<td class="w580" height="12" width="275" style="font-size: 12px; line-height: 12px;"></td>
											</tr>
										</tbody>
									</table>
								</td>
								<td class="hide" width="30"></td>
								<td class="w580" valign="top" width="275">
									<table class="w580" border="0" cellpadding="0" cellspacing="0" width="275">
										<tbody>
											<tr>
												<td class="w580" height="24" width="275" style="font-size: 24px; line-height: 24px;">&nbsp;</td>
											</tr>
											<tr>
												<td class="w580" width="275">
													<p class="article-title" align="left">
														<singleline label="Title"></singleline>
													</p>
													<div class="article-content" align="left">
														<multiline label="Description"></multiline>
													</div>
												</td>
											</tr>
											<tr>
												<td class="w580" height="12" width="275" style="font-size: 12px; line-height: 12px;"></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td class="w30" width="30"></td>
			</tr>
		</tbody>
	</table>
</layout>
<layout label="Galerij met 3 afbeeldingen">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w640" height="24" width="w640" style="font-size: 24px; line-height: 24px;">&nbsp;</td>
			</tr>
			<tr>
				<td class="w640" width="640">
					<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
						<tbody>
							<tr>
								<td class="w30" width="30"></td>
								<td class="w580" width="580">
									<table class="w580" border="0" cellpadding="0" cellspacing="0" width="580">
										<tbody>
											<tr>
												<td class="w580" valign="top" width="180">
													<table class="w580" border="0" cellpadding="0" cellspacing="0" width="180">
														<tbody>
															<tr>
																<td class="w580" width="180"><img editable="true" src="" label="Image" class="w580" border="0" width="180"/></td>
															</tr>
															<tr>
																<td class="w580" height="12" width="180" style="font-size: 12px; line-height: 12px;"></td>
															</tr>
															<tr>
																<td class="w580" width="180">
																	<div class="article-content" align="left">
																		<multiline label="Description"></multiline>
																	</div>
																</td>
															</tr>
															<tr>
																<td class="w580" height="12" width="180" style="font-size: 12px; line-height: 12px;"></td>
															</tr>
														</tbody>
													</table>
												</td>
												<td class="hide" width="20"></td>
												<td class="w580" valign="top" width="180">
													<table class="w580" border="0" cellpadding="0" cellspacing="0" width="180">
														<tbody>
															<tr>
																<td class="w580" width="180"><img editable="true" src="" label="Image" class="w580" border="0" width="180"/></td>
															</tr>
															<tr>
																<td class="w580" height="12" width="180" style="font-size: 12px; line-height: 12px;"></td>
															</tr>
															<tr>
																<td class="w580" width="180">
																	<div class="article-content" align="left">
																		<multiline label="Description"></multiline>
																	</div>
																</td>
															</tr>
															<tr>
																<td class="w580" height="12" width="180" style="font-size: 12px; line-height: 12px;"></td>
															</tr>
														</tbody>
													</table>
												</td>
												<td class="hide" width="20"></td>
												<td class="w580" valign="top" width="180">
													<table class="w580" border="0" cellpadding="0" cellspacing="0" width="180">
														<tbody>
															<tr>
																<td class="w580" width="180"><img editable="true" src="" label="Image" class="w580" border="0" width="180"/></td>
															</tr>
															<tr>
																<td class="w580" height="12" width="180" style="font-size: 12px; line-height: 12px;"></td>
															</tr>
															<tr>
																<td class="w580" width="180">
																	<div class="article-content" align="left">
																		<multiline label="Description"></multiline>
																	</div>
																</td>
															</tr>
															<tr>
																<td class="w580" height="12" width="180" style="font-size: 12px; line-height: 12px;"></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td class="w30" width="30"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</layout>
<layout label="Galerij van 2 afbeeldingen">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w30" width="30"></td>
				<td class="w580" width="580">
					<table class="w580" border="0" cellpadding="0" cellspacing="0" width="580">
						<tbody>
							<tr>
								<td class="w580" valign="top" width="275">
									<table class="w580" border="0" cellpadding="0" cellspacing="0" width="275">
										<tbody>
											<tr>
												<td class="w580" width="275">
													<img editable="true" src="" label="Image" class="w580" border="0" width="275" />
												</td>
											</tr>
                                            <tr>
                                            	<td class="w580" width="275">
                                                	<div class="article-content" align="left">
                                                		<multiline label="Description"></multiline>
                                                	</div>
                                                </td>
                                            </tr>
										</tbody>
									</table>
								</td>
								<td class="hide" width="30"></td>
								<td class="w580" valign="top" width="275">
									<table class="w580" border="0" cellpadding="0" cellspacing="0" width="275">
										<tbody>
											<tr>
												<td class="w580" width="275">
													<img editable="true" src="" label="Image" class="w580" border="0" width="275" />
												</td>
											</tr>
                                            <tr>
                                            	<td class="w580" width="275">
                                                	<div class="article-content" align="left">
                                                		<multiline label="Description"></multiline>
                                                	</div>
                                                </td>
                                            </tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td class="w30" width="30"></td>
			</tr>
		</tbody>
	</table>
</layout>
<layout label="Grijze balk">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640" bgcolor="#eeeeee">
		<tbody>
			<tr>
				<td class="w640" height="24" width="640" style="font-size: 24px; line-height: 24px;">
					<img editable="true" src="" label="Image" class="hide" border="0" width="1"/>
				</td>
			</tr>
		</tbody>
	</table>
</layout>
<layout label="Witte balk">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640" bgcolor="#fafafa">
		<tbody>
			<tr>
				<td class="w640" height="24" width="640" style="font-size: 24px; line-height: 24px;">
					<img editable="true" src="" label="Image" class="hide" border="0" width="1"/>
				</td>
			</tr>
		</tbody>
	</table>
</layout>
