
<layout label="Tekst zonder afbeelding/titel">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w640" height="24" width="640" style="font-size: 24px; line-height: 24px;">&nbsp;</td>
			</tr>
			<tr>
				<td class="w640" width="640">
					<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
						<tbody>
							<tr>
								<td class="w640" width="640">
									<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
										<tbody>
											<tr>
												<td class="w640" width="640">
													<div class="article-content" align="left">
														<multiline label="Description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tempor arcu. Suspendisse potenti. In in orci ac felis tincidunt vestibulum. Nullam vel sem sit amet eros pharetra molestie ac non risus. Praesent urna erat, posuere quis mauris vitae, viverra bibendum tellus. Curabitur vel adipiscing arcu. Sed faucibus massa et aliquam elementum. Integer at massa libero. Quisque ullamcorper sollicitudin dui sagittis feugiat. Fusce non nisl viverra, feugiat tortor eget, hendrerit nunc. Sed pharetra fermentum tortor non accumsan.</p></multiline>
													</div>
												</td>
											</tr>
											<tr>
												<td class="w640" height="10" width="640"></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</layout>



<layout label="1 afbeelding volledige breedte + Titel + Tekst">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w640" width="640">
					<img editable="true" src="http://lorempixel.com/640/400" label="Image" class="w640" border="0" width="640">
				</td>
			</tr>
			<tr>
				<td class="w640" height="12" width="640" style="font-size: 12px; line-height: 12px;">&nbsp;</td>
			</tr>
			<tr>
				<td class="w640" width="640">
					<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
						<tbody>
							<tr>
								<td class="w640" width="640">
									<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
										<tbody>
											<tr>
												<td class="w640" width="640">
													<p class="article-title" align="left">
														<singleline label="Title">Titel <strong>Strong in titel</strong></singleline>
													</p>
													<div class="article-content" align="left">
														<multiline label="Description"><p>Lorem ipsum dolor sit amet, <a href="#">link</a>consectetur adipiscing elit. Cras non tempor arcu. Suspendisse potenti. In in orci ac felis tincidunt vestibulum. Nullam vel sem sit amet eros pharetra molestie ac non risus. Praesent urna erat, posuere quis mauris vitae, viverra bibendum tellus. Curabitur vel adipiscing arcu. Sed faucibus massa et aliquam elementum. Integer at massa libero. Quisque ullamcorper sollicitudin dui sagittis feugiat. Fusce non nisl viverra, feugiat tortor eget, hendrerit nunc. Sed pharetra fermentum tortor non accumsan.</p></multiline>
													</div>
												</td>
											</tr>
											<tr>
												<td class="w640" height="10" width="640"></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</layout>



<layout label="1 afbeelding volledige breedte + Tekst">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w640" width="640">
					<img editable="true" src="http://lorempixel.com/640/400" label="Image" class="w640" border="0" width="640">
				</td>
			</tr>
			<tr>
				<td class="w640" height="12" width="640" style="font-size: 12px; line-height: 12px;">&nbsp;</td>
			</tr>
			<tr>
				<td class="w640" width="640">
					<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
						<tbody>
							<tr>
								<td class="w640" width="640">
									<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
										<tbody>
											<tr>
												<td class="w640" width="640">
													<div class="article-content" align="left">
														<multiline label="Description"><p>Lorem ipsum dolor sit amet, <a href="#">link</a>consectetur adipiscing elit. Cras non tempor arcu. Suspendisse potenti. In in orci ac felis tincidunt vestibulum. Nullam vel sem sit amet eros pharetra molestie ac non risus. Praesent urna erat, posuere quis mauris vitae, viverra bibendum tellus. Curabitur vel adipiscing arcu. Sed faucibus massa et aliquam elementum. Integer at massa libero. Quisque ullamcorper sollicitudin dui sagittis feugiat. Fusce non nisl viverra, feugiat tortor eget, hendrerit nunc. Sed pharetra fermentum tortor non accumsan.</p></multiline>
													</div>
												</td>
											</tr>
											<tr>
												<td class="w640" height="10" width="640"></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</layout>



<layout label="Titel + Tekst + 1 afbeelding volledige breedte">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w640" height="12" width="640" style="font-size: 12px; line-height: 12px;">&nbsp;</td>
			</tr>
			<tr>
				<td class="w640" width="640">
					<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
						<tbody>
							<tr>
								<td class="w640" width="640">
									<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
										<tbody>
											<tr>
												<td class="w640" width="640">
													<p class="article-title" align="left">
														<singleline label="Title">Titel</singleline>
													</p>
													<div class="article-content" align="left">
														<multiline label="Description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tempor arcu. Suspendisse potenti. In in orci ac felis tincidunt vestibulum. Nullam vel sem sit amet eros pharetra molestie ac non risus. Praesent urna erat, posuere quis mauris vitae, viverra bibendum tellus. Curabitur vel adipiscing arcu. Sed faucibus massa et aliquam elementum. Integer at massa libero. Quisque ullamcorper sollicitudin dui sagittis feugiat. Fusce non nisl viverra, feugiat tortor eget, hendrerit nunc. Sed pharetra fermentum tortor non accumsan.</p></multiline>
													</div>
												</td>
											</tr>
											<tr>
												<td class="w640" height="10" width="640"></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td class="w640" width="640">
					<img editable="true" src="http://lorempixel.com/640/400" label="Image" class="w640" border="0" width="640">
				</td>
			</tr>
		</tbody>
	</table>
</layout>



<layout label="Tekst + 1 afbeelding volledige breedte">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w640" height="24" width="640" style="font-size: 24px; line-height: 24px;">&nbsp;</td>
			</tr>
			<tr>
				<td class="w640" width="640">
					<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
						<tbody>
							<tr>
								<td class="w640" width="640">
									<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
										<tbody>
											<tr>
												<td class="w640" width="640">
													<div class="article-content" align="left">
														<multiline label="Description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tempor arcu. Suspendisse potenti. In in orci ac felis tincidunt vestibulum. Nullam vel sem sit amet eros pharetra molestie ac non risus. Praesent urna erat, posuere quis mauris vitae, viverra bibendum tellus. Curabitur vel adipiscing arcu. Sed faucibus massa et aliquam elementum. Integer at massa libero. Quisque ullamcorper sollicitudin dui sagittis feugiat. Fusce non nisl viverra, feugiat tortor eget, hendrerit nunc. Sed pharetra fermentum tortor non accumsan.</p></multiline>
													</div>
												</td>
											</tr>
											<tr>
												<td class="w640" height="10" width="640"></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td class="w640" width="640">
					<img editable="true" src="http://lorempixel.com/640/400" label="Image" class="w640" border="0" width="640">
				</td>
			</tr>
		</tbody>
	</table>
</layout>



<layout label="Tekst + 1 afbeelding centraal">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w640" width="640">
					<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
						<tbody>
							<tr>
								<td class="w640" height="12" width="640" style="font-size: 12px; line-height: 12px;">&nbsp;</td>
							</tr>
							<tr>
								<td class="w640" width="640">
									<p class="article-title" align="left">
										<singleline label="Title">Titel</singleline>
									</p>
								</td>
							</tr>
							<tr>
								<td class="w640" width="640"><img editable="true" src="http://lorempixel.com/640/400" label="Image" class="w640" border="0" width="640"></td>
							</tr>
							<tr>
								<td class="w640" height="15" width="640"></td>
							</tr>
							<tr>
								<td class="w640" width="640">
									<div class="article-content" align="left">
										<multiline label="Description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tempor arcu. Suspendisse potenti. In in orci ac felis tincidunt vestibulum. Nullam vel sem sit amet eros pharetra molestie ac non risus. Praesent urna erat, posuere quis mauris vitae, viverra bibendum tellus. Curabitur vel adipiscing arcu. Sed faucibus massa et aliquam elementum. Integer at massa libero. Quisque ullamcorper sollicitudin dui sagittis feugiat. Fusce non nisl viverra, feugiat tortor eget, hendrerit nunc. Sed pharetra fermentum tortor non accumsan.</p></multiline>
									</div>
								</td>
							</tr>
							<tr>
								<td class="w640" height="10" width="640"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</layout>



<layout label="Tekst + 1 afbeelding rechts">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w640" width="640">
					<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
						<tbody>
							<tr>
								<td class="w640" height="12" width="640" style="font-size: 12px; line-height: 12px;">&nbsp;</td>
							</tr>
							<tr>
								<td class="w640" width="640">
									<p class="article-title" align="left">
										<singleline label="Title">Titel</singleline>
									</p>
									<table align="right" border="0" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
											</tr>
											<tr>
												<td></td>
											</tr>
										</tbody>
									</table>
									<div class="article-content" align="left">
										<multiline label="Description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tempor arcu. Suspendisse potenti. In in orci ac felis tincidunt vestibulum. Nullam vel sem sit amet eros pharetra molestie ac non risus. Praesent urna erat, posuere quis mauris vitae, viverra bibendum tellus. Curabitur vel adipiscing arcu. Sed faucibus massa et aliquam elementum. Integer at massa libero. Quisque ullamcorper sollicitudin dui sagittis feugiat. Fusce non nisl viverra, feugiat tortor eget, hendrerit nunc. Sed pharetra fermentum tortor non accumsan.</p></multiline>
									</div>
								</td>
							</tr>
							<tr>
								<td class="w640" height="10" width="640"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</layout>



<layout label="Tekst + 1 afbeelding links">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w640" width="640">
					<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
						<tbody>
							<tr>
								<td class="w640" height="12" width="640" style="font-size: 12px; line-height: 12px;">&nbsp;</td>
							</tr>
							<tr>
								<td class="w640" width="640">
									<p class="article-title" align="left">
										<singleline label="Title">Titel</singleline>
									</p>
									<table align="left" border="0" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
											</tr>
											<tr>
												<td></td>
											</tr>
										</tbody>
									</table>
									<div class="article-content" align="left">
										<multiline label="Description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tempor arcu. Suspendisse potenti. In in orci ac felis tincidunt vestibulum. Nullam vel sem sit amet eros pharetra molestie ac non risus. Praesent urna erat, posuere quis mauris vitae, viverra bibendum tellus. Curabitur vel adipiscing arcu. Sed faucibus massa et aliquam elementum. Integer at massa libero. Quisque ullamcorper sollicitudin dui sagittis feugiat. Fusce non nisl viverra, feugiat tortor eget, hendrerit nunc. Sed pharetra fermentum tortor non accumsan.</p></multiline>
									</div>
								</td>
							</tr>
							<tr>
								<td class="w640" height="10" width="640"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</layout>



<layout label="Tekst, 2 kolommen">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w640" width="640">
					<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
						<tbody>
							<tr>
								<td class="w300" valign="top" width="300">
									<table class="w300" border="0" cellpadding="0" cellspacing="0" width="300">
										<tbody>
											<tr>
												<td class="w300" height="12" width="300" style="font-size: 12px; line-height: 12px;">&nbsp;</td>
											</tr>
											<tr>
												<td class="w300" width="300">
													<p class="article-title" align="left">
														<singleline label="Title">Titel</singleline>
													</p>
													<div class="article-content" align="left">
														<multiline label="Description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tempor arcu. Suspendisse potenti. In in orci ac felis tincidunt vestibulum. Nullam vel sem sit amet eros pharetra molestie ac non risus. Praesent urna erat, posuere quis mauris vitae, viverra bibendum tellus. Curabitur vel adipiscing arcu. Sed faucibus massa et aliquam elementum. Integer at massa libero. Quisque ullamcorper sollicitudin dui sagittis feugiat. Fusce non nisl viverra, feugiat tortor eget, hendrerit nunc. Sed pharetra fermentum tortor non accumsan.</p></multiline>
													</div>
												</td>
											</tr>
											<tr>
												<td class="w300" height="10" width="300"></td>
											</tr>
										</tbody>
									</table>
								</td>
								<td class="w300" valign="top" width="300">
									<table class="w300" border="0" cellpadding="0" cellspacing="0" width="300">
										<tbody>
											<tr>
												<td class="w300" height="12" width="300" style="font-size: 12px; line-height: 12px;">&nbsp;</td>
											</tr>
											<tr>
												<td class="w300" width="300">
													<p class="article-title" align="left">
														<singleline label="Title">Titel</singleline>
													</p>
													<div class="article-content" align="left">
														<multiline label="Description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tempor arcu. Suspendisse potenti. In in orci ac felis tincidunt vestibulum. Nullam vel sem sit amet eros pharetra molestie ac non risus. Praesent urna erat, posuere quis mauris vitae, viverra bibendum tellus. Curabitur vel adipiscing arcu. Sed faucibus massa et aliquam elementum. Integer at massa libero. Quisque ullamcorper sollicitudin dui sagittis feugiat. Fusce non nisl viverra, feugiat tortor eget, hendrerit nunc. Sed pharetra fermentum tortor non accumsan.</p></multiline>
													</div>
												</td>
											</tr>
											<tr>
												<td class="w300" height="10" width="300"></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</layout>



<layout label="Galerij met 3 afbeeldingen">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w640" height="24" width="w640" style="font-size: 24px; line-height: 24px;">&nbsp;</td>
			</tr>
			<tr>
				<td class="w640" width="640">
					<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
						<tbody>
							<tr>
								<td class="w640" width="640">
									<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
										<tbody>
											<tr>
												<td class="w180" valign="top" width="180">
													<table class="w180" border="0" cellpadding="0" cellspacing="0" width="180">
														<tbody>
															<tr>
																<td class="w180" width="180"><img editable="true" src="http://lorempixel.com/640/400" label="Image" class="w180" border="0" width="180"></td>
															</tr>
															<tr>
																<td class="w180" height="10" width="180"></td>
															</tr>
															<tr>
																<td class="w180" width="180">
																	<div class="article-content" align="left">
																		<multiline label="Description"><p>Lorem ipsum dolor sit amet, accumsan.</p></multiline>
																	</div>
																</td>
															</tr>
															<tr>
																<td class="w180" height="10" width="180"></td>
															</tr>
														</tbody>
													</table>
												</td>
												<td width="20"></td>
												<td class="w180" valign="top" width="180">
													<table class="w180" border="0" cellpadding="0" cellspacing="0" width="180">
														<tbody>
															<tr>
																<td class="w180" width="180"><img editable="true" src="http://lorempixel.com/640/400" label="Image" class="w180" border="0" width="180"></td>
															</tr>
															<tr>
																<td class="w180" height="10" width="180"></td>
															</tr>
															<tr>
																<td class="w180" width="180">
																	<div class="article-content" align="left">
																		<multiline label="Description"><p>Lorem ipsum dolor sit amet, accumsan.</p></multiline>
																	</div>
																</td>
															</tr>
															<tr>
																<td class="w180" height="10" width="180"></td>
															</tr>
														</tbody>
													</table>
												</td>
												<td width="20"></td>
												<td class="w180" valign="top" width="180">
													<table class="w180" border="0" cellpadding="0" cellspacing="0" width="180">
														<tbody>
															<tr>
																<td class="w180" width="180"><img editable="true" src="http://lorempixel.com/640/400" label="Image" class="w180" border="0" width="180"></td>
															</tr>
															<tr>
																<td class="w180" height="10" width="180"></td>
															</tr>
															<tr>
																<td class="w180" width="180">
																	<div class="article-content" align="left">
																		<multiline label="Description"><p>Lorem ipsum dolor sit amet, accumsan.</p></multiline>
																	</div>
																</td>
															</tr>
															<tr>
																<td class="w180" height="10" width="180"></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</layout>



<layout label="Galerij van 2 afbeeldingen">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w640" width="640">
					<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
						<tbody>
							<tr>
								<td class="w300" valign="top" width="300">
									<table class="w300" border="0" cellpadding="0" cellspacing="0" width="300">
										<tbody>
											<tr>
												<td class="w300" width="300">
													<img editable="true" src="http://lorempixel.com/640/400" label="Image" class="w300" border="0" width="300">
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td class="w10" width="10"></td>
								<td class="w30" width="30"></td>
								<td class="w300" valign="top" width="300">
									<table class="w300" border="0" cellpadding="0" cellspacing="0" width="300">
										<tbody>
											<tr>
												<td class="w300" width="300">
													<img editable="true" src="http://lorempixel.com/640/400" label="Image" class="w300" border="0" width="300">
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</layout>



<layout label="Schuine scheidingslijn 1">
	<table class="w640" border="0" cellpadding="0" cellspacing="0" width="640">
		<tbody>
			<tr>
				<td class="w640" height="30" width="640" style="font-size: 30px; line-height: 30px;"></td>
			</tr>
		</tbody>
	</table>
</layout>



