/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

$padding: 20px; // For consistent padding
$grey: #f6f6f6; // Background color
$width: 640px; // Width of the content area
$br: 3px; // Border radius
$breakpoint: 480px;

$primary-color: #ed174b; // Primary color for buttons and links


$body-bg: #000;
$title-color: #ffffff;
$text-color: #ffffff;

$base-font-family: "Source Sans Pro", Arial, sans-serif;
$fallback-font-family: Arial, sans-serif;
$font-size-base: 13px;
$line-height-base: 18px;