/* -------------------------------------
    Outlook styles
------------------------------------- */
#headline p ,
.article-title {
	font-family: Arial, sans-serif;
	font-weight: bold;
}

body,
.article-content {
	font-family: Arial, sans-serif;
}