<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{ subject }}</title>


		<link href="css/main.css" media="all" rel="stylesheet" type="text/css" />
		<!--[if gte mso 9]>
			<style _tmplitem="418" type="text/css">
				.article-content ol, .article-content ul {
				margin: 0 0 0 24px;
				padding: 0;
				list-style-position: inside;
				}
			</style>
		<![endif]-->
		<!--[if !mso]><!-->
			<style type="text/css">
				#headline p ,
				.article-title{
					font-family: "Helvetica Neue", Arial, sans-serif;
				}

				body,
				.article-content{
					font-family: "Helvetica Neue", Arial, sans-serif;
				}
			</style>
		<!--<![endif]-->
		<!--[if mso]>
			<style type="text/css">
				#headline p ,
				.article-title {
					font-family: Arial, sans-serif;
					font-weight: bold;
				}
				body,
				.article-content {
					font-family: Arial, sans-serif;
				}
			</style>
		<![endif]-->
	</head>

	<body>
		{{ body }}
	</body>
</html>
